@model SAEE_Web.Entities.CourseAssignmentsEnt

@{
    ViewBag.Title = "ViewCourseAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title-little {
        background-color: rgb(48, 120, 252);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        width: 25%;
    }

    .list-group-item {
        padding: 3%;
        background-color: #ecedfd;
        border-color: transparent;
    }

    .list-group {
        border-color: transparent;
        height: 100%;
        max-width: 100%; /* Asegura que el contenedor no se desborde */
        overflow: hidden; /* Oculta cualquier contenido que se desborde */
    }

    .title-text {
        color: #ffffff;
        font-weight: bold;
        margin: 0;
    }
</style>
<div class="back-button-container">
    <button type="button" class="btn btn--return" style="color:white;" onclick="history.back()">
        <i class="fas fa-arrow-left"></i> Volver
    </button>
</div>
<div style="width: 70%; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-block-end:8%;margin-top:2%;">
    <div id="content-container">
        <div class="list-group">
            <div class="banner" style="height: 15rem; display: flex; align-items: center;">
                <div class="underlay" style="height: 15rem;"></div>

                <div class="container d-lg-flex align-items-center align-content-center">
                    <div class="banner_content" style="text-align: left;">
                        <h1 class="banner_content-title">
                            <i class="fa-solid fa-file-arrow-up"></i> @Model.AssignmentName
                        </h1>
                    </div>
                </div>
            </div>

            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                    <div class="title-little">
                        <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-circle-info icon" style="margin-right:10px;"></i>Descripcion:</h4>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start; padding-left:5%;">
                    <h5 class="mb-1">Fecha límite: @Model.AssignmentDeadline</h5>
                </div>
                <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start; padding-left:5%;">
                    <h5 class="mb-1">Indicaciones: @Model.AssignmentDescription</h5>
                </div>
            </div>


            @if (Model.TaskId != 0 & Model.GradingId != 0)  //Entregado y calificado
            {
                <div class="list-group-item list-group-item-action" style="background-color: #BEE3AF; ">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-arrow-right-arrow-left icon" style="margin-right:10px;"></i>Estado:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%;">
                        <h5 class="mb-1">Calificado</h5>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action" style="background-color: #BEE3AF;">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-clock icon" style="margin-right:10px;"></i>Tiempo entregado:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%;">
                        <h5 class="mb-1">Entregado el: @Model.TaskDeliveredOn</h5>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-file icon" style="margin-right:10px;"></i>Archvos enviados:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="margin-bottom:5px; margin-top:5px; padding-left:5%;">
                        <a class="mb-1" href="@Url.Action("DownloadTask","CourseTasks", new { q = Model.TaskId })">
                            <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> @Model.TaskFileExtension</span>
                        </a>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action">
                    <div class="title-little">
                        <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-percent icon" style="margin-right:10px;"></i>Calificacion:</h4>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%">
                        <h5 class="mb-1">Nota: @Model.GradingScore</h5>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%">
                        <h5 class="mb-1">Comentarios: @Model.GradingPerformanceDescription</h5>
                    </div>
                </div>
            }
            else if (Model.TaskId != 0 & Model.GradingId == 0) //Entregado
            {
                <div class="list-group-item list-group-item-action" style="background-color: #ecedfd; ">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-arrow-right-arrow-left icon" style="margin-right:10px;"></i>Estado:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%">
                        <h5 class="mb-1">Sin calificar</h5>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action" style="background-color: #BEE3AF;">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-clock icon" style="margin-right:10px;"></i>Tiempo restante:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%">
                        <h5 class="mb-1">Entregado el: @Model.TaskDeliveredOn</h5>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-file icon" style="margin-right:10px;"></i>Archivos enviados:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="margin-bottom:5px; margin-top:5px; padding-left:5%">
                        <a class="mb-1" href="@Url.Action("DownloadTask","CourseTasks", new { q = Model.TaskId })">
                            <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> @Model.TaskFileExtension</span>
                        </a>
                    </div>
                    <div style="display:flex; padding-left:3%">
                        @*Acá validar el tiempo restante tambien, si aun tiene tiempo entonces puede realizar cambios*@
                        <a class="btn btn--rUpdate" style="margin-right: 10px; display: flex; height: 40px" href="#">
                            <span class="text">Editar Entrega</span>
                        </a>
                        <a class="btn btn--rReport" style="margin-right: 10px; display: flex; height: 40px" href="#">
                            <span class="text">Eliminar Entrega</span>
                        </a>
                    </div>
                </div>
            }
            else //Sin entregar
            {
                <div class="list-group-item list-group-item-action" style="background-color: #ecedfd; ">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-arrow-right-arrow-left icon" style="margin-right:10px;"></i>Estado:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left:5%">
                        <h5 class="mb-1">Sin calificar</h5>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action" style="background-color: #ecedfd;">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-clock icon" style="margin-right:10px;"></i>Tiempo restante:</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100" style="padding-left: 5%; font-size: larger; font-family: inherit; font-weight: 500; line-height: 1.2; color: inherit;">
                        @{
                            TimeSpan timeLeft = Model.AssignmentDeadline - DateTime.Now;

                            string formattedTimeLeft = "";
                            if (timeLeft.TotalMilliseconds > 0)
                            {
                                formattedTimeLeft = string.Format("{0} días, {1} horas, {2} minutos, {3} segundos",
                                    timeLeft.Days, timeLeft.Hours, timeLeft.Minutes, timeLeft.Seconds);
                            }
                            else
                            {
                                formattedTimeLeft = "Ha caducado la fecha de entrega.";
                            }
                        }

                        <p class="mb-1"> @formattedTimeLeft </p>
                    </div>
                </div><div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                        <div class="title-little">
                            <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-file icon" style="margin-right:10px;"></i>Archivos enviados:</h4>
                        </div>
                    </div>
                    <div style="display:flex; padding-left:5%">
                        @if (formattedTimeLeft == "Ha caducado la fecha de entrega.")
                        {
                            <div class="d-flex w-100">
                                <h5 class="mb-1">Ya no puede enviar tareas, el tiempo ha caducado.</h5>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn--rAdd" style="height:40px" href="@Url.Action("RegisterCourseTasks","CourseTasks")">
                                <span class="text">Subir Tarea</span>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <button type="button" class="btn btn--return" style="color:white;" onclick="history.back()">
        <i class="fas fa-arrow-left"></i> Volver
    </button>

</div>



