<!DOCTYPE html>
<html lang="es">
<head>
    @Html.Partial("_HeadPartial")
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    @* NAV *@
    <header class="header" data-page="home" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo header_logo">
                <a class="d-inline-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <span class="logo_picture">
                        <img src="~/Images/ELEC.png" alt="ELEC" />
                    </span>
                    <span class="text">
                        <span class="brand">ELEC</span>
                        <span class="text_secondary">Spanish School</span>
                    </span>
                </a>
            </div>
            <button class="header_trigger"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#headerMenu"
                    aria-controls="headerMenu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="header_nav collapse" id="headerMenu">
                @* En toda esta lista se deben agregar validaciones para decidir que mostrar según su sesion y rol *@
                <ul class="header_nav-list">
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="@Url.Action("Index", "Home")" data-page="home">Inicio</a>
                    </li>
                    <li class="header_nav-list_item dropdown">
                        <a class="nav-link nav-item dropdown-toggle d-inline-flex align-items-center"
                           href="@Url.Action("AllCourses", "Course")"
                           data-bs-toggle="collapse"
                           data-bs-target="#coursesMenu"
                           data-trigger="dropdown"
                           aria-expanded="false"
                           aria-controls="coursesMenu"
                           data-page="courses">
                            Todos los cursos
                            <i class="icon-angle-down icon"></i>
                        </a>
                        <div class="dropdown-menu collapse" id="coursesMenu">
                            <ul class="dropdown-list">
                                @* Acá se cargarían dinamicamente los cursos que el estudiante tenga activos *@
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="course" href="~/Template/course.html">Curso Ejemplo 1</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="course" href="~/Template/course.html">Curso Ejemplo 2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/about.html" data-page="about">Preguntas frecuentes</a>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="@Url.Action("UsersTable","User")" data-page="about">Estudiantes(admin)</a>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="@Url.Action("GeneralReport","Report")" data-page="about">Reportes(admin)</a>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="btn btn--gradient" href="@Url.Action("Login","User")">
                            <span class="text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid page-body-wrapper" style="color:black; display: flex; width: 100%; padding-right: 15px; padding-left: 0px; margin-right: auto; margin-left: auto; ">
        <!-- Sidebar -->
        <div class="offcanvas offcanvas-start w-10" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); margin-right: 10px; height: 600px; background: #007bff;" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
            <div class="offcanvas-body px-0">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu" style="color:aliceblue;">
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                            <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline" style="color:#fff">Calificaciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-truncate">
                            <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline"  style="color:#fff">Avisos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-truncate">
                            <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline"  style="color:#fff">Eventos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-truncate">
                            <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline"  style="color:#fff">Foros</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <main style="margin: 20px auto; max-width: 1000px; flex-grow: 1;">
            <div class="content-wrapper">
                <!-- homepage content start -->
                <br />
                @RenderBody()
                <br />
                <!-- homepage content end -->
            </div>
        </main>
    </div>

    @Html.Partial("_FooterPartial")

</body>
</html>