<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SAEE - ELEC</title>
    <script id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>
    <script src="https://www.youtube.com/player_api"></script>
    <link rel="stylesheet preload" as="style" href="~/Template/css/preload.min.css" />
    <link rel="stylesheet preload" as="style" href="~/Template/css/icomoon.css" />
    <link rel="stylesheet preload" as="style" href="~/Template/css/libs.min.css" />

    <link rel="stylesheet" href="~/Template/css/index.min.css" />
    <link rel="stylesheet" href="~/Template/css/contacts.min.css" />
</head>

<body>
    @* NAV *@
    <header class="header" data-page="home">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo header_logo">
                <a class="d-inline-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <span class="logo_picture">
                        <img src="~/Images/ELEC.png" alt="ELEC" />
                    </span>
                    <span class="text">
                        <span class="brand">ELEC</span>
                        <span class="text_secondary">Spanish School</span>
                    </span>
                </a>
            </div>
            <button class="header_trigger"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#headerMenu"
                    aria-controls="headerMenu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="header_nav collapse" id="headerMenu">
                @* En toda esta lista se deben agregar validaciones para decidir que mostrar según su sesion y rol *@
                <ul class="header_nav-list">
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="@Url.Action("Index", "Home")" data-page="home">Inicio</a>
                    </li>
                    <li class="header_nav-list_item dropdown">
                        <a class="nav-link nav-item dropdown-toggle d-inline-flex align-items-center"
                           href="@Url.Action("AllCourses", "Course")"
                           data-bs-toggle="collapse"
                           data-bs-target="#coursesMenu"
                           data-trigger="dropdown"
                           aria-expanded="false"
                           aria-controls="coursesMenu"
                           data-page="courses">
                            Todos los cursos
                            <i class="icon-angle-down icon"></i>
                        </a>
                        <div class="dropdown-menu collapse" id="coursesMenu">
                            <ul class="dropdown-list">
                                @* Acá se cargarían dinamicamente los cursos que el estudiante tenga activos *@
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="course" href="~/Template/course.html">Curso Ejemplo 1</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="course" href="~/Template/course.html">Curso Ejemplo 2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/about.html" data-page="about">Preguntas frecuentes</a>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="btn btn--gradient" href="@Url.Action("Login","User")">
                            <span class="text">Iniciar Sesión</span>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </header>
    <!-- homepage content start -->
    <main>
        <br />
        @RenderBody()
    </main>
    <!-- homepage content end -->

    @* FOOTER *@ 
    <footer class="footer">
        <div class="container">
            <div class="footer_wrapper d-sm-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
                <div class="footer_block col-sm-6 col-lg-auto" data-order="1">
                    <div class="logo logo--footer">
                        <a class="d-inline-flex align-items-center" href="@Url.Action("Index", "Home")">
                            <span class="logo_picture">
                                <img src="~/Images/ELEC.png" alt="Edison" />
                            </span>
                            <span class="text">
                                <span class="brand">ELEC</span>
                                <span class="text_secondary">Spanish School</span>
                            </span>
                        </a>
                    </div>
                    <a class="footer_secondary-scroll" id="scrollToTop" href="#">
                        <i class="icon-angle-up icon"></i>
                    </a>
                </div>
                <div class="footer_block col-sm-6 col-lg-auto" data-order="2">
                    <h5 class="footer_block-header">Contacto:</h5>
                    <div class="wrapper d-flex flex-column">
                        <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="mailto:example@domain.com">
                            <i class="icon-envelope icon"></i>
                            correoEscual@mail.com
                        </a>
                        <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="tel:+50688263675">
                            <i class="icon-phone-solid icon"></i>
                            +506 8826-3675
                        </a>
                    </div>
                </div>
                <div class="footer_block col-sm-6 col-lg-auto m-sm-0" data-order="3">
                    <ul class="footer_block-socials d-flex align-items-center">
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="footer_secondary-copyright">Copyright <span id="currentYear"></span> SAEE</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="~/Template/js/common.min.js"></script>
</body>
</html>