@model SAEE_Web.Entities.CourseAvailableEnt

@{
    ViewBag.Title = "RegisterCourseAvailable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                    
                    <h2 class="contacts_form-header_title" style="font-size: 2.5em;">Habilitar Curso</h2>
                </div>
            </div>
            <hr />
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-info" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }
           


            @using (Html.BeginForm("RegisterCourseAvailable", "CourseAvailable", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm" }))
            {
                <div class="form-group">
                    <label style="margin-right: 53rem;">Profesor:</label>
                    @Html.DropDownListFor(m => m.TeacherId, ViewBag.SelectListTeacher as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Curso:</label>
                    @Html.DropDownListFor(m => m.CourseId, ViewBag.SelectListCourses as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Horario:</label>
                    @Html.DropDownListFor(m => m.ScheduleId, ViewBag.SelectListSchedule as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>
                <div class="form-group">
                    <label style="margin-right: 25rem;">Duración en semanas:</label>
                    @Html.TextBoxFor(m => m.DurationInWeeks, new { @class = "field required", @type = "number", @placeholder = "Duración en semanas" })
                </div>

                <hr />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em; margin-right: 10px; width:9rem;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                    <button type="button" class="btn btn--login" style="color: white;  width: 12rem" onclick="validateForm()">REGISTRAR</button>

                </div>
            }
  
    </section>
</main>

<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->


<script>
    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        //Validacion para espacios seleccionables
        var selectIsValid = true;
        $(".form-control").each(function () {
            if ($(this).val().trim() == 0) {
                selectIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Debe realizar una elección.</p>");
                }

            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid && selectIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
       
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }

</script>



