@model SAEE_Web.Entities.ContentPerWeekEnt

@{
    ViewBag.Title = "UpdateContentPerWeek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title">Actualizar el Contenido</h2>
            </div>
            <hr />
            <h5>
                Actualice el contenido de la semana.
            </h5>
            <br />

            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }
            <div class="back-button-container">
                <button type="button" class="btn btn--return" style="color:white;" onclick="history.back()">
                    <i class="fas fa-arrow-left"></i> Volver
                </button>
            </div>
            @using (Html.BeginForm("UpdateContentPerWeek", "ContentPerWeek", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm"  }))
            {
                @Html.HiddenFor(m => m.Id)

                @Html.HiddenFor(m => m.WeekId)

                <div class="form-group">
                    <label style="margin-right: 25rem;">Título de la semana:</label>
                    @Html.TextBoxFor(m => m.Header, new { @class = "field required", @type = "text", @placeholder = "Título de la semana" ,MaxLength = "50" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 23rem;">Contenido de la semana:</label>
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "4", @placeholder = "Contenido de la semana", MaxLength = "250",id="contador" })
                    <div style="font-size: 12px; text-align: end;"> <span id="nameCharacterCount">0</span>/250 caracteres</div>
                </div>

                <input type="hidden" name="returnUrl" value="@Request.UrlReferrer?.ToString()" />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em; margin-right: 10px; width:9rem;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                    <button type="button" class="btn btn--login" style="color: white;  width: 12rem" onclick="validateForm()">ACTUALIZAR</button>

                </div>
            }
        </div>
    </section>

</main>



<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->



<script>
    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
       
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }



    var nameInput = document.getElementById('contador');
    var nameCounter = document.getElementById('nameCharacterCount');

    function updateNameCounter() {
        nameCounter.textContent = nameInput.value.length;
    }

    nameInput.addEventListener('input', updateNameCounter);

   
    updateNameCounter()


</script>


