@model SAEE_Web.Entities.UserEnt

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h4 class="contacts_form-header_title">Inicio de Sesión</h4>

            </div>
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align: center; color: red; border-color: red; ">
                    @ViewBag.BoxMessage
                </div>
            }
          

            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "contacts_form-form", id = "loginForm" }))
            {
                <div class="form-group">
                    <hr />
                    <label style="margin-right: 20rem;">Correo electronico:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "field required", @style = "", @type = "text", @placeholder = "Email", id = "emailInput" })
                </div>
                <div class="form-group">
                    <label style="margin-right: 22rem;">Contraseña:</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "field required", @style = "", @type = "password", @placeholder = "Contraseña" })
                </div>
             
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--login" style="color:white;" onclick="validateForm()">INICIAR SESIÓN</button>
                </div>
                    <hr />
                <div class="text-center mt-4 font-weight-light">
                    ¿Olvidaste tu contraseña? <a href="@Url.Action("RecoverPassword","User")" class="text-primary">Recuperar</a>
                </div>

            }
        </div>
   
    </section>
</main>
<br/>
<br/>





@{
    string at = "@";
}

<script>
    function limpiarCampos() {
        // Aquí puedes agregar el código para limpiar los campos del formulario
        document.getElementById("loginForm").reset();
    } 
    var at = "@Html.Raw(at)";

    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left; margin-left: 5rem;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();

                //Si hay datos entonces se valida el correo manualmente
                if ($(this).attr("id") === "emailInput") {
                    var email = document.getElementById("emailInput").value;

                    var hasAnAt = email.includes(at);
                    if (hasAnAt) {
                        var hasADot = email.split(at)[1].includes(".");
                    }

                    if (!hasAnAt || !hasADot) {
                        $(this).after("<p class='error-message' style='color: red; text-align: left; margin-left: 5rem;'>El valor debe corresponder a un correo electrónico.</p>");
                        formIsValid = false;
                    }
                }
            }
        });

        if (formIsValid) {
            $('#loginForm').submit();
        }
    }

</script>
