
@{
    ViewBag.Title = "ProfileData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 50%; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 20px; ">

    <div class="list-group" style="margin-block:5rem">
        <div class="list-group-item-light list-group-item-action active" style="height: 15rem; background-color: rgb(48, 120, 252); ">
            <br />

            <div class="d-flex flex-column align-items-center" style="margin-left: 20px;">
                @if (Session["ProfileImageB64"] == null)
                {
                    <img class="img-xs rounded-circle" src="https://cdn-icons-png.flaticon.com/512/2550/2550383.png" style="max-width: 7rem;" alt="profilePicture">
                }
                else
                {
                    <img class="img-xs rounded-circle" style="width:20%" src="data:image/jpeg;base64,@Session["ProfileImageB64"]" alt="profilePicture">
                }
                <a class="nav-item" style="color:#000000; font-size:small; display:flex; justify-content:start;" href="@Url.Action("DeleteProfilePicture", "User", new { q = @Session["ActiveId"] })">Eliminar foto</a>


                <h2 class="mb-1">@Session["Name"] @Session["Lastname"]</h2>
            </div>


        </div>

        <div class="list-group-item list-group-item-action" style="text-align:center;">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="" style="font-weight: bold; padding-left: 5rem;">Mis Datos:</h4>
            </div>
            <div>
                @if ((int)Session["UserType"] == 1)
                {
                    <p class="mb-1" style="font-weight:bold;">Tipo de cuenta:</p>
                    <p class="mb-1">Administrador</p>
                }
                else if ((int)Session["UserType"] == 2)
                {
                    <p class="mb-1" style="font-weight:bold;">Tipo de cuenta:</p>
                    <p class="mb-1">Profesor</p>
                }
                else
                {
                    <p class="mb-1" style="font-weight:bold;">Tipo de cuenta:</p>
                    <p class="mb-1">Estudiante</p>
                }
                <p class="mb-1" style="font-weight:bold;">Email:</p>
                <p class="mb-1">@Session["Email"]</p>
                <p class="mb-1" style="font-weight:bold;">Número de teléfono:</p>
                <p class="mb-1">@Session["PhoneNumber"]</p>
                <br />
                <a class="btn btn--rlogin" style=" width:20%; height:40px" href="@Url.Action("ProfileUser", "User", new { q = @Session["ActiveId"] })">
                    <span class="text">Editar Perfil</span>
                </a>
            </div>
        </div>

    </div>
</div>
