@{
    ViewBag.Title = "ProfileData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title-text {
        color: #007bff;
        font-weight: bold;
        margin: 0;
    }
</style>



<div class="container-fluid" style="padding-block-end: 2rem;">

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="list-group" style="margin-top: 3rem;">
                <h3 class="text-center">Información del Usuario</h3>
                <hr/>
                <div class="list-group-item-light list-group-item-action active" style="height: 13%; background: linear-gradient(151.89deg, rgba(106, 17, 203, .83) 6.97%, rgba(37, 117, 252, .83) 84.71%); ">
                    <br />
                    <div class="d-flex flex-column align-items-center">
                        @if (Session["ProfileImageB64"] == null)
                        {
                            <img class="img-xs rounded-circle" src="https://cdn-icons-png.flaticon.com/512/2550/2550383.png" style="max-width: 7rem;" alt="profilePicture">
                        }
                        else
                        {
                            <img class="img-xs rounded-circle" style="width: 20%" src="data:image/jpeg;base64,@Session["ProfileImageB64"]" alt="profilePicture">
                        }
                        <a class="nav-item" style="color: #000000; font-size: small; display: flex; justify-content: start; margin-top: 0.5rem;" href="@Url.Action("DeleteProfilePicture", "User", new { q = @Session["ActiveId"] })">Eliminar foto</a>
                        <h4 class="mb-1">@Session["Name"] @Session["Lastname"]</h4>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action" style="border-color: transparent; background: linear-gradient(0deg,rgba(255,255,255,.9),rgba(255,255,255,.9)),linear-gradient(127.36deg,#6a11cb 31.85%,#2575fc 108.53%); ">
                    <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row; padding-left: 3rem; padding-block-end: 1rem;">
                        <h4 class="title-text" style="font-weight: bold;"><i class="fas fa-circle-info icon" style="margin-right: 10px;"></i>Datos:</h4>
                    </div>
                    <div class="d-flex w-100 justify-content-end" style="flex-direction: column; align-items: center; ">
                        @if ((int)Session["UserType"] == 1)
                        {
                            <h6 class="mb-1" style=""><i class="fas fa-user" style="margin-right: 5px;"></i>Tipo de Usuario: Administrador</h6>
                        }
                        else if ((int)Session["UserType"] == 2)
                        {
                            <h6 class="mb-1" style=""><i class="fas fa-user" style="margin-right: 5px;"></i>Tipo de Usuario: Profesor</h6>
                        }
                        else
                        {
                            <h6 class="mb-1" style=""><i class="fas fa-user" style="margin-right: 5px;"></i>Tipo de Usuario: Estudiante</h6>
                        }
                        <hr />
                    </div>
                    <div class="d-flex w-100 justify-content-end" style="flex-direction: column; align-items: center; ">
                        <h6 class="mb-1" style=""><i class="fas fa-phone-alt" style="margin-right: 5px;"></i>Phone: @Session["PhoneNumber"]</h6>
                        <hr />
                    </div>
                    <div class="d-flex w-100 justify-content-end" style="flex-direction: column; align-items: center; ">
                        <h6 class="mb-1" style=""><i class="fas fa-envelope" style="margin-right: 5px;"></i>Email: @Session["Email"]</h6>
                        <hr />
                    </div>
                </div>

                <div class="d-flex justify-content-center" style="margin-top: 2rem;">
                    <button type="button" class="btn btn--return mr-2" style="height: 40px;" onclick="history.back()">
                        <i class="fas fa-arrow-left" style="color:#ffffff; margin-right:5px"></i><span class="text">Volver</span>
                    </button>
                    <a class="btn btn--rUpdate" style="height: 40px;" href="@Url.Action("ProfileUser", "User", new { q = @Session["ActiveId"] })">
                        <span class="text">Editar Perfil</span>
                    </a>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>



