@model SAEE_Web.Entities.UserEnt

@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="position-relative" style="position: relative;">
                <div class="back-button-container" style="position: absolute; top: 5%; left: 0.5%;">
                    <!-- Añade estilo de posicionamiento y margen -->
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                </div>

                <h2 class="contacts_form-header_title" style="font-size: 2.5em;">Editar perfil</h2>
            </div>
            <hr />
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }


            @using (Html.BeginForm("ProfileUser", "User", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm", @enctype = "multipart/form-data" }))
            {
                <h5>Edite tu informacion a tu gusto.</h5>
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label style="margin-right: 29rem;">Nombre:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "field required", @type = "text", @placeholder = "Nombre" })
                </div>

                <div class="form-group">
                    <label style=" margin-right: 29rem;">Apellidos:</label>
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "field required", @type = "text", @placeholder = "Apellidos" })
                </div>

                <div class="form-group">
                    <label style=" margin-right: 30rem;">Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @readonly = "@readonly", @class = "field required", @type = "text", @placeholder = "Email", style = "color: #B4B2B2;" })
                    <p style="color: #1C8ADA; text-align: left;">Para editar el correo comuníquese con soporte.</p>
                </div>

                <div class="form-group">
                    <label style=" margin-right: 29rem;">Número:</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "field required", @type = "number", @placeholder = "Número" })
                </div>
                <div class="form-group">
                    <label style=" margin-right: 28rem;">Foto de perfil:</label>
                    <input type="file" class="field required" id="ProfileImg" name="ProfileImg" accept="image/jpeg, image/png, image/gif" onchange="validateFileType(this)">
                    <p style="color: #1C8ADA; text-align: left;">Solo puede subir jpeg, png, gif.</p>
                </div>
                <div id="fileTypeError" style="display:none; text-align:start; color:red; margin-top: 5px;">Por favor, seleccione un archivo JPEG, PNG o GIF.</div>

                <hr />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--login" style="color:white;" onclick="validateForm()">ACTUALIZAR</button>
                </div>
            }
        </div>
    </section>
</main>


<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->



<script>
    function validateFileType(input) {
        var validExtensions = ['jpg', 'jpeg', 'png', 'gif'];
        var fileName = input.value.toLowerCase();
        var fileExtension = fileName.split('.').pop();

        if (validExtensions.indexOf(fileExtension) == -1) {
            document.getElementById('fileTypeError').style.display = 'block';
            input.value = ''; // Clear the file input
        } else {
            document.getElementById('fileTypeError').style.display = 'none';
        }
    }
    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }
</script>

