@model SAEE_Web.Entities.UserEnt

@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title">Recuperar contraseña</h2>
            </div>
            @if (ViewBag.BoxMessage != null)
            {
                if (ViewBag.BoxMessage.Equals("Se ha enviado un correo electrónico para la recuperación de su cuenta."))
                {
                    <div class="alert alert-info" role="alert" style="text-align:center">
                        @ViewBag.BoxMessage
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.BoxMessage
                    </div>
                }
            }

            @using (Html.BeginForm("RecoverPassword", "User", FormMethod.Post, new { @class = "contacts_form-form" }))
            {
                <h5 style="font-weight:lighter">Ingrese los datos que coincidan con su cuenta</h5>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "field required", @type = "email", @placeholder = "Email" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 20rem;">Fecha de nacimiento:</label>
                    @Html.TextBoxFor(m => m.Birthdate, new { @class = "field required", @type = "date", @placeholder = "Fecha de nacimiento" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Número de teléfono:</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "field required", @type = "number", @placeholder = "Número" })
                </div>

                <div class="contacts_form-form_footer">
                    <input type="submit" class="btn btn--login" style="color:white;" value="RECUPERAR">
                </div>
            }
        </div>
    </section>
</main>

