@model SAEE_Web.Entities.UserEnt

@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
     
                    <h2 class="contacts_form-header_title" style="font-size: 2em;">Actualizar Usuario</h2>
              
            </div>
            <hr />
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }
          
            @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm" }))
            {
                <h5>Actualize la informacion del Usuario.</h5>
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label style="margin-right: 53rem;">Nombre:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "field required", @type = "text", @placeholder = "Nombre", maxlength = "30" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Apellidos:</label>
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "field required", @type = "text", @placeholder = "Apellidos", maxlength = "30" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "field required", @type = "text", @placeholder = "Email", id = "emailInput" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Número:</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "field required", @type = "number", @placeholder = "Telefono", maxlength = "20" })
                </div>

                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em; margin-right: 10px; width:9rem;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                    <button type="button" class="btn btn--login" style="color: white;  width: 12rem" onclick="validateForm()">Actualizar</button>

                </div>
            }
        </div>
    </section>

</main>



<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->



@{
    string at = "@";
}

<script>
    var at = "@Html.Raw(at)";

    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();

                //Si hay datos entonces se valida el correo manualmente
                if ($(this).attr("id") === "emailInput") {
                    var email = document.getElementById("emailInput").value;

                    var hasAnAt = email.includes(at);
                    if (hasAnAt) {
                        var hasADot = email.split(at)[1].includes(".");
                    }

                    if (!hasAnAt || !hasADot) {
                        $(this).after("<p class='error-message' style='color: red; text-align: left;'>El valor debe corresponder a un correo electrónico.</p>");
                        formIsValid = false;
                    }
                }
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
        var userName = $('#Name').val();
        $('#userName').text('Nombre del Usuario: ' + userName);
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }
</script>

