@model List<SAEE_Web.Entities.UserEnt>
@{
    ViewBag.Title = "UsersTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center;">
    <h2>Estudiantes matriculados</h2>
    <br>
    <div style="display:flex;">
        &nbsp;&nbsp;
        <div style="text-align:left">
            <a class="btn btn--rlogin" style="display:flex; height:40px" href="@Url.Action("RegisterUser","User")">
                <span class="text">Crear cuenta</span>
            </a>
        </div>
        &nbsp;&nbsp;
        <div style="text-align:left">
            <a class="btn btn--rlogin" style="display:flex; height:40px" href="@Url.Action("EnrolledStudent", "Enrolled")">
                <span class="text">Matricular Estudiante</span>
            </a>
        </div>
        &nbsp;&nbsp;
        <div style="text-align:left">
            <a class="btn btn--rlogin" style="display:flex; height:40px" href="#">
                <span class="text">Descargar reporte</span>
            </a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        if (ViewBag.BoxMessage != null)
        {
            <div class="alert alert-danger" role="alert" style="text-align:center">
                @ViewBag.BoxMessage
            </div>
        }

        <table id="tableData" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cambiar Estado</th>
                    <th scope="col">Actualizar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Name</th>
                        <td>@item.Lastname</td>
                        <td>@item.Birthdate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>

                        @if (item.UserType == 1)
                        {
                            <td>Administrador</td>
                        }
                        else if (item.UserType == 2)
                        {
                            <td>Profesor</td>
                        }
                        else
                        {
                            <td>Estudiante</td>
                        }

                        @if (item.Active)
                        {
                            <td>Activo</td>
                        }
                        else
                        {
                            <td>Inactivo</td>
                        }

                        <td style="text-align:center">
                            <a href="@Url.Action("ChangeStatusUser","User", new { q = item.Id })"><i class="icon-edit-solid"></i></a>
                        </td>
                        <td style="text-align:center">
                            <a href="@Url.Action("UpdateUser","User", new { q = item.Id })"><i class="icon-arrow-right-solid"></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
            No hay usuarios registrados en este momento.
        </div>
    }
</div>

@* DATATABLES *@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>