
@{
    ViewBag.Title = "AllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="features_list d-md-flex flex-wrap" style="display:flex; justify-content:space-around;">

    <div class="features_list-item col-md-4" data-order="1" data-aos="fade-up">
        <div class="card" style="width: 18rem; padding: 20px;">
            <div class="content">
        
                    <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">
      
                <div class="card_main">
                    <h5 class="card_main-title">Español Básico I</h5>
                    <p class="card_main-text">Bases del idioma español para principiantes.</p>
                    <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>

    <div class="features_list-item col-md-4" data-order="2" data-aos="fade-up">
        <div class="card" style="width: 18rem; padding: 20px;">
            <div class="content">

                    <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">
                
                <div class="card_main">
                    <h5 class="card_main-title">Español Básico II</h5>
                    <p class="card_main-text">Español intermedio para personas que dominen ligeramente el idioma.</p>
                    <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>

    <div class="features_list-item col-md-4" data-order="3" data-aos="fade-up">
        <div class="card" style="width: 18rem; padding: 20px;">
            <div class="content">
              
                    <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">
              
                <div class="card_main">
                    <h5 class="card_main-title">Español Básico III</h5>
                    <p class="card_main-text">Idioma español avanzado, enfocado en prácticas conversacionales.</p>
                    <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>  
        <div class="features_list-item col-md-4" data-order="3" data-aos="fade-up">
          <div class="card" style="width: 18rem; padding: 20px;">
            <div class="content">
              
                    <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">
              
                <div class="card_main">
                    <h5 class="card_main-title">Español Básico III</h5>
                    <p class="card_main-text">Idioma español avanzado, enfocado en prácticas conversacionales.</p>
                    <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>  
       <div class="features_list-item col-md-4" data-order="3" data-aos="fade-up">
           <div class="card" style="width: 18rem; padding: 20px;">
               <div class="content">

                   <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">

                   <div class="card_main">
                       <h5 class="card_main-title">Español Básico III</h5>
                       <p class="card_main-text">Idioma español avanzado, enfocado en prácticas conversacionales.</p>
                       <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                   </div>
               </div>
           </div>
      </div>  
          <div class="features_list-item col-md-4" data-order="3" data-aos="fade-up">
              <div class="card" style="width: 18rem; padding: 20px;">
                 <div class="content">
              
                    <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">
              
                <div class="card_main">
                    <h5 class="card_main-title">Español Básico III</h5>
                    <p class="card_main-text">Idioma español avanzado, enfocado en prácticas conversacionales.</p>
                    <a href="@Url.Action("SpecificCourse", "Course")" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>  

</main>


<br />

