@model List<SAEE_Web.Entities.CoursesEnt>

@{
    ViewBag.Title = "CoursesTable";
}

<main style="margin: 20px auto; max-width: 1000px; flex-grow: 1;">
    <div style="text-align: center;">
        <h2>Cursos</h2>
        <hr />
        <br>
        <div style="display:flex;">
            &nbsp;&nbsp;
            <div style="text-align:left">
                <a class="btn btn--rAdd" style="display:flex; height:40px" href="@Url.Action("RegisterCourse","Course")">
                    <span class="text">Agregar Curso</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div style="text-align:left">
                <a class="btn btn--rAvailable" style="display:flex; height:40px" href="@Url.Action("RegisterCourseAvailable", "CourseAvailable")">
                    <span class="text">Habilitar Curso</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div style="text-align:left">
                <a class="btn btn--rUpdate" id="" style="display:flex; height:40px" href="@Url.Action("RegisterSchedule", "Schedules")">
                    <span class="text">Agregar Horarios</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div style="text-align:left">
                <a class="btn btn--rReport" id="" style="display:flex; height:40px" href="#">
                    <span class="text">Descargar reporte</span>
                </a>
            </div>
        </div>
        <br />
        @if (Model.Count() > 0)
        {
            if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }

            <table id="tableData" class="table">
                <thead class="thead-light">
                    <tr>
                        <th id="Bar" scope="col">Nombre</th>
                        <th id="Bar" scope="col">Descripcion</th>
                        <th id="Bar" scope="col">Cupos</th>
                        <th id="Bar" scope="col">Estado</th>
                        <th id="Bar" scope="col">Cambiar Estado</th>
                        <th id="Bar" scope="col">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <td>@item.Description</td>
                            <td>@item.AvailableQuota</td>


                            @if (item.Active)
                            {
                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }

                            <td style="text-align:center">
                                <a href="@Url.Action("ChangeStatusCourse","Course", new { q = item.Id })"><i class="fa-solid fa-rotate"></i></a>
                            </td>
                            <td style="text-align:center">
                                <a href="@Url.Action("UpdateCourse","Course", new { q = item.Id })"><i class="fa-solid fa-edit"></i></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
                No hay cursos registrados en este momento.
            </div>
        }
    </div>
    <hr />
</main>


<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            "paging": true // Habilita la paginación
        });
    });
</script>
