@model SAEE_Web.Entities.CoursesEnt

@{
    ViewBag.Title = "RegisterCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title" style="font-size: 2.5em;">Registrar Cursos</h2>
                <hr/>
            </div>
        </div>
  
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage<br /> Llene todos los campos
                </div>

            }
            

            @using (Html.BeginForm("RegisterCourse", "Course", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm" }))
            {
                <h5>Agregue la informacion del curso.</h5>
                <div class="form-group">
                    <label style="margin-right: 53rem;">Nombre:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "field required", @type = "text", @placeholder = "Nombre", maxlength = "30" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Descripción:</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "field required", @rows = "6", @placeholder = "Descripción del curso", style = "height:15%;", maxlength = "250", id = "contador" })
                    <div style="font-size: 12px; margin-left: 27rem;"> <span id="nameCharacterCount">0</span>/250 caracteres</div>
                </div>
                <div class="form-group">
                    <label style="margin-right: 53rem;">Cupos:</label>
                    @Html.TextBoxFor(m => m.AvailableQuota, new { @class = "field required", @type = "number", @placeholder = "Cupos", maxlength = "250" })
                </div>


                <hr />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em; margin-right: 10px; width:9rem;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                    <button type="button" class="btn btn--login" style="color: white;  width: 12rem" onclick="validateForm()">REGISTRAR</button>

                </div>
            }
     
    </section>
</main>


<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->





<script>
    function limpiarCampos() {
        // Aquí puedes agregar el código para limpiar los campos del formulario
        document.getElementById("registerForm").reset();
    }
    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }


    // Obtener el elemento del input y el contador
    var nameInput = document.getElementById('contador');
    var nameCounter = document.getElementById('nameCharacterCount');

    // Función para actualizar el contador
    function updateNameCounter() {
        nameCounter.textContent = nameInput.value.length;
    }

    // Agregar un event listener para el evento input
    nameInput.addEventListener('input', updateNameCounter);

    // Llamar a updateNameCounter inicialmente para mostrar el valor inicial
    updateNameCounter();
</script>



















