@model SAEE_Web.Entities.ViewModelCourse_Task_Material

@{
    ViewBag.Title = "SpecificCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.EnrolledCourses)
{
    if (item.WeekNum == (int)Session["SelectedWeekNum"])
    {
        <br />
        <div style="margin-left:15%;">
            <h3> @item.CourseName || @item.CourseSchedule</h3>
        </div>
    }
}


<div style="width: 70%; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 20px; ">
    <br />
    @* SECONDARY NAV *@
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex; justify-content:flex-start;">
        @foreach (var item in Model.EnrolledCourses)
        {
            if (item.WeekNum == 0)
            {
                <a class="navbar-brand choicebtn" href="#" onclick="updateSessionWeek(0, @item.WeekId, 0)">Introducción</a>
            }
            else
            {
                <a class="navbar-brand choicebtn" href="#" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)">Semana @item.WeekNum</a>
            }
        }
    </nav>

    @* Content *@
    <div id="content-container">
        @foreach (var item in Model.EnrolledCourses)
        {
            if (item.WeekNum == (int)Session["SelectedWeekNum"])
            {
                <div class="list-group">
                    <div class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1">@item.Header</h2>
                        </div>
                        <p class="mb-1"></p>
                    </div>
                    @if (item.WeekNum == 0)
                    {
                        Session["SelectedWeekId"] = item.WeekId;

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">@item.TechearName</h4>
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start;">
                                <p class="mb-1" style="font-weight:bold;">Acerca del profesor:</p>
                                <p class="mb-1">@item.TeacherSpecialty</p>
                                <p class="mb-1">@item.TeacherExperience años de experiencia</p>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Información del curso:</h4>
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start;">
                                <p class="mb-1">@item.CourseDescription</p>
                                <p class="mb-1">Horario: @item.CourseSchedule</p>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Material educativo:</h4>
                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <a class="btn btn--rAdd" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterMaterial","CourseMaterial")">
                                        <span class="text">Agregar material</span>
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;">
                                @if (Model.WeekMaterial.Count() <= 0)
                                {
                                    <div style="text-align: left;">
                                        <p class="mb-1">No hay material disponible.</p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var material in Model.WeekMaterial)
                                    {
                                        if (material.WeekId == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div style="text-align: left; display: flex; flex-direction: row; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>

                                                    <a style="margin-left: auto; margin-right:10px;" href="@Url.Action("DeleteMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <i class="fa-solid fa-trash" style="color: red;">  </i>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="text-align: left; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Entregables:</h4>
                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <div style="text-align:left; margin-top:5px">
                                        <a class="btn btn--rAdd" style="display:flex; height:40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterAssignment","CourseAssignment")">
                                            <span class="text">Agregar Entregable</span>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start;">
                                @if (Model.CourseAssignments.Count() <= 0)
                                {
                                    <p class="mb-1">No hay tareas pendientes.</p>
                                }
                                else
                                {
                                    foreach (var assignment in Model.CourseAssignments)
                                    {
                                        if (assignment.AssignmentWeek == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <p class="mb-1" style="font-weight:bold;">@assignment.AssignmentName</p>
                                                <p class="mb-1">Indicaciones: @assignment.AssignmentDescription</p>

                                                if (assignment.AssignmentActive == true)
                                                {
                                                    <p class="mb-1">Estado: Habilitada</p>
                                                }
                                                else
                                                {
                                                    <p class="mb-1">Estado: Deshabilitada</p>
                                                }

                                                <div style="text-align: left; margin-bottom: 15px; display: flex; flex-direction: row;">
                                                    <a class="btn btn--rAdd" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("UpdateAssignment","CourseAssignment")">
                                                        <span class="text">Editar Entregable</span>
                                                    </a>

                                                    <a class="btn btn--rAvailable" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ChangeStatusAssignment","CourseAssignment")">
                                                        <span class="text">Cambiar Estado</span>
                                                    </a>

                                                    <a class="btn btn--rReport" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("DeliveredCoursetasks","CourseTasks")">
                                                        <span class="text">Ver Entregas</span>
                                                    </a>
                                                </div>
                                            }
                                            else if ((int)Session["UserType"] == 3 && assignment.AssignmentActive == true)
                                            {
                                                <div style="text-align:left; margin-top:5px">
                                                    <a class="btn btn--rAdd" style="display:flex; height:40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ViewCourseAssignment","CourseAssignment")">
                                                        <span class="text">Ver @assignment.AssignmentName</span>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                                <h4 class="mb-1">Contenido:</h4>
                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <a class="btn btn--rAdd" style="margin-right: 10px; display: flex; height: 40px" href="@Url.Action("UpdateContentPerWeek","ContentPerWeek", new { q = item.ContentPerWeekId })">
                                        <span class="text">Editar Contenido</span>
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start;">
                                <p class="mb-1">@item.Content</p>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Material educativo:</h4>
                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <a class="btn btn--rAdd" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterMaterial","CourseMaterial")">
                                        <span class="text">Agregar material</span>
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;">
                                @if (Model.WeekMaterial.Count() <= 0)
                                {
                                    <div style="text-align: left;">
                                        <p class="mb-1">No hay material disponible.</p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var material in Model.WeekMaterial)
                                    {
                                        if (material.WeekId == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div style="text-align: left; display: flex; flex-direction: row; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>

                                                    <a style="margin-left: auto; margin-right:10px;" href="@Url.Action("DeleteMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <i class="fa-solid fa-trash" style="color: red;">  </i>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="text-align: left; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: Dodgerblue;"> <i class="fa-solid fa-file" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Entregables:</h4>
                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <div style="text-align:left; margin-top:5px">
                                        <a class="btn btn--rAdd" style="display:flex; height:40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterAssignment","CourseAssignment")">
                                            <span class="text">Agregar Entregable</span>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction:column;align-items:flex-start;">
                                @if (Model.CourseAssignments.Count() <= 0)
                                {
                                    <p class="mb-1">No hay tareas pendientes.</p>
                                }
                                else
                                {
                                    foreach (var assignment in Model.CourseAssignments)
                                    {
                                        if (assignment.AssignmentWeek == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <p class="mb-1" style="font-weight:bold;">@assignment.AssignmentName</p>
                                                <p class="mb-1">Indicaciones: @assignment.AssignmentDescription</p>

                                                if (assignment.AssignmentActive == true)
                                                {
                                                    <p class="mb-1">Estado: Habilitada</p>
                                                }
                                                else
                                                {
                                                    <p class="mb-1">Estado: Deshabilitada</p>
                                                }

                                                <div style="text-align: left; margin-bottom: 15px; display: flex; flex-direction: row;">
                                                    <a class="btn btn--rAdd" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("UpdateAssignment","CourseAssignment")">
                                                        <span class="text">Editar Entregable</span>
                                                    </a>

                                                    <a class="btn btn--rAvailable" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ChangeStatusAssignment","CourseAssignment")">
                                                        <span class="text">Cambiar Estado</span>
                                                    </a>

                                                    <a class="btn btn--rReport" style="margin-right: 10px; display: flex; height: 40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("DeliveredCoursetasks","CourseTasks")">
                                                        <span class="text">Ver Entregas</span>
                                                    </a>
                                                </div>
                                            }
                                            else if ((int)Session["UserType"] == 3 && assignment.AssignmentActive == true)
                                            {
                                                <div style="text-align:left; margin-top:5px">
                                                    <a class="btn btn--rAdd" style="display:flex; height:40px" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ViewCourseAssignment","CourseAssignment")">
                                                        <span class="text">Ver @assignment.AssignmentName</span>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

<script>
    function updateSessionWeek(weekNum, weekId, assignmentId) {
        fetch('@Url.Action("UpdateSessionWeek", "Enrolled")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                weekNum: weekNum,
                weekId: weekId,
                assignmentId: assignmentId
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });
            return false;
    }


    // Función para recargar la página
    function reloadPage() {
        location.reload();
    }
    var reloadButtons = document.getElementsByClassName('choicebtn');
    for (var i = 0; i < reloadButtons.length; i++) {
        reloadButtons[i].addEventListener('click', reloadPage);
    }
</script>
















