@model SAEE_Web.Entities.ViewModelCourse_Task_Material

@{
    ViewBag.Title = "SpecificCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .week-name {
        color:purple; /* Establece el color del texto a negro */
    }
    .list-group {
        height: 80%;
        max-width: 100%;
        overflow: hidden; 
    }

    .list-group-item {
        padding: 3%;
        background-color: #ecedfd;
        border-color: transparent;
    }

    .title-little {
       
  
        padding: 10px; 
       
       
    }
    .title-little-send {
      
    }

    .btn--rTasks {
        background-color: rgb(72, 1, 219);
        border-radius: 10px; 
        padding: 10px; 
        margin-bottom: 20px; 
        text-align: center; 
        width: 20%;
    }


    .title-text {
        color: rgb(48, 120, 252);
        font-weight: bold;
        margin: 0;
    }
    .title-text2 {
        font-size: 21px;
        color: rgb(72, 1, 219);
        font-weight: bold;
        margin: 0;
    }
        .active-state {
        text-align: center;
        width: 13%;
        font-weight: bold;
        padding: 10px;
        color: #31ad37;

    }

    .inactive-state {
        padding: 5px;
        text-align: center;
        width: 15%;
        font-weight: bold;
        color: #ff6a6a;
      
    }
</style>


@foreach (var item in Model.EnrolledCourses)
{
    if (item.WeekNum == (int)Session["SelectedWeekNum"])
    {
        <br />
        <div style="margin-left: 15%; margin-top: 3rem; display: flex; align-items: center; ">
            <h2 style="color: rgb(72, 1, 219); font-size: 35px; margin-bottom: 0; margin-right: 10px;">@item.CourseName</h2>
            <h5 style="color: #555; font-size: 16px; margin-top: 11px;">
                <i class="fas fa-clock" style="color: rgb(72, 1, 219); margin-right: 5px;"></i> @item.CourseSchedule
            </h5>
        </div>
    }
}


<div style="width: 65%; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-block-end:8%;">
    <br />
    @* SECONDARY NAV *@
    <nav class="navbar navbar-expand-lg navbar-light" style="display: flex; justify-content: flex-start; background-color: #F4F4F5; flex-wrap: wrap; ">
        @foreach (var item in Model.EnrolledCourses)
        {
            if (item.WeekNum == 0)
            {
                <a class="navbar-brand choicebtn" style="color: rgb(48, 120, 252); font-weight: 700; " href="#" onclick="updateSessionWeek(0, @item.WeekId, 0)">Introducción</a>
            }
            else
            {
                <a class="navbar-brand choicebtn" href="#" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)">Semana @item.WeekNum</a>
            }
        }
    </nav>


    @* Content *@
    <div id="content-container">
        @foreach (var item in Model.EnrolledCourses)
        {
            if (item.WeekNum == (int)Session["SelectedWeekNum"])
            {
                <div class="list-group">
                    <div class="banner">
                        <div class="underlay"></div>

                        <div class="container d-lg-flex align-items-center">
                            <div class="banner_content">
                                <h1 class="banner_content-title">
                                    <i class="fas fa-graduation-cap"></i> @item.Header
                                </h1>
                            </div>

                            <div class="banner_media">
                                <picture>
                                    <img class="lazy" style="max-width: 100%; max-height: 100%;  height: auto;" src="~/Images/placeholder.jpg" alt="media" />
                                </picture>
                            </div>
                        </div>
                    </div>
                    @if (item.WeekNum == 0)
                    {
                        Session["SelectedWeekId"] = item.WeekId;

                        <div class="list-group-item list-group-item-action d-flex justify-content-center align-items-center">
                            <div class="d-flex align-items-center">
                                @if (Session["TeacherProfileImageB64"] == null)
                                {
                                    <img class="img-xs rounded-circle mr-3" src="https://cdn-icons-png.flaticon.com/512/2550/2550383.png" style="max-width: 7rem;" alt="Foto de Perfil Default">
                                }
                                else
                                {
                                    <img class="img-xs rounded-circle" src="data:image/jpeg;base64,@Session["TeacherProfileImageB64"]" style="max-width:7rem;" alt="Foto de Perfil Profesor">
                                }
                                <h4 class="mb-0" style="color:rgb(72, 1, 219); margin-left:7px;">@item.TechearName</h4>
                            </div>

                            <div class="d-flex flex-column align-items-start ml-3">
                                <p class="mb-1" style="font-weight:bold;">Acerca del profesor:</p>
                                <p class="mb-1">@item.TeacherSpecialty</p>
                                <p class="mb-1">@item.TeacherExperience años de experiencia</p>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-info-circle icon" style="margin-right:10px;"></i>Información del curso:</h4>
                                </div>

                            </div>
                            <div class="d-flex w-100 justify-content-start" style="flex-direction:column ;align-items:start; padding-left:50px">
                                <h5 class="mb-1">@item.CourseDescription</h5>
                                <h5 class="mb-1">Horario: @item.CourseSchedule</h5>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-sticky-note icon" style="margin-right:10px;"></i>Material Educativo:</h4>
                                </div>


                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                 
                                    <a class="btn btn--rAdd" title="Agregar Material" style="margin-right: 10px; height: 54px; width: 7%;" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterMaterial","CourseMaterial")">
                                        <i class="fas fa-circle-plus" style="color: #ffffff; font-size:40px;" ></i> <!-- Icono para cambiar estado -->
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-start" style="flex-direction: column; padding-left: 5%;">
                                @if (Model.WeekMaterial.Count() <= 0)
                                {
                                    <div class="d-flex w-100 justify-content-end" style="flex-direction: column; padding-left: 2%;">
                                        <div style="text-align:start;">
                                            <h5 class="mb-1">No hay material disponible.</h5>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    foreach (var material in Model.WeekMaterial)
                                    {
                                        if (material.WeekId == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div style=" display: flex; text-align: left; flex-direction: row; margin-bottom: 20px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: rgb(72, 1, 219); font-size:18px"> <i class="fa-solid fa-file-arrow-down" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>

                                                    <a href="@Url.Action("DeleteMaterial","CourseMaterial", new { q = material.MaterialId })" style="color: red; margin-left: 10px; display: flex; align-items: center;" onclick="return confirmDelete();">
                                                        <i class="fa-solid fa-trash" style="font-size: 20px; padding-left:17px"></i>
                                                    </a>
                                                    <hr />
                                                </div>

                                            }
                                            else
                                            {
                                                <div style="text-align: start; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: rgb(72, 1, 219); font-size:18px"> <i class="fa-solid fa-file-arrow-down" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>
                                                    <hr />
                                                </div>
                                               
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-tasks icon" style="margin-right:10px;"></i>Entregables:</h4>
                                </div>


                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <div style="text-align:left; margin-top:5px">
                                       
                                        <a class="btn btn--rAdd" title="Agregar Entregable" style="margin-right: 10px; height: 54px; width: 100%; " onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterAssignment","CourseAssignment")">
                                            <i class="fas fa-circle-plus" style="color: #ffffff; font-size:40px;" title="Agregar Entregable"></i> <!-- Icono para cambiar estado -->
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="d-flex w-100  justify-content-start  " style="flex-direction: column; text-align: start;  padding-left:50px">
                                @if (Model.CourseAssignments.Count() <= 0)
                                {
                                    <div style="text-align:start;">
                                        <h5 class="mb-1">No hay Tareas pendientes.</h5>
                                    </div>
                                }
                                else
                                {
                                    foreach (var assignment in Model.CourseAssignments)
                                    {
                                        if (assignment.AssignmentWeek == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div class="title-little-send">
                                                    <p class="title-text2" style="font-weight:bold;"><i class="fa fa-bars-progress" style="margin-right:20px;"></i>@assignment.AssignmentName</p>
                                                </div>
                                                <h5 class="mb-1" style="padding-block-end:13px">Indicaciones: @assignment.AssignmentDescription</h5>

                                                <div style="margin-bottom: 15px;">
                                                    @if (assignment.AssignmentActive == true)
                                                    {
                                                        <p class="mb-1 active-state">Estado: Habilitada</p>
                                                        <br />
                                                    }
                                                    else
                                                    {
                                                        <p class="mb-1 inactive-state">Estado: Deshabilitada</p>
                                                        <br />
                                                    }

                                                    <div style="display: flex; justify-content: start; ">
                                                        <a class="btn btn--rUpdate" style="margin-right: 10px; height: 40px; width: 10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("UpdateAssignment","CourseAssignment")">
                                                            <i class="fas fa-edit" style="color: #ffffff;" title="Editar Entregable"></i> <!-- Icono para editar -->
                                                        </a>

                                                        <a class="btn btn--rAvailable" style="margin-right: 10px; height: 40px; width: 10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ChangeStatusAssignment","CourseAssignment")">
                                                            <i class="fas fa-exchange-alt" style="color: #ffffff;" title="Cambiar Estado"></i> <!-- Icono para cambiar estado -->
                                                        </a>

                                                        <a class="btn btn--rReport" style="margin-right: 10px; height: 40px; width: 10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("DeliveredCoursetasks","CourseTasks")">
                                                            <i class="fas fa-list-alt" style="color: #ffffff;" title="Ver Entregas"></i> <!-- Icono para ver entregas -->
                                                        </a>
                                                    </div>
                                                    <hr />
                                                </div>

                                            }
                                            else if ((int)Session["UserType"] == 3 && assignment.AssignmentActive == true)
                                            {
                                               
                                                    <div style="text-align:left; margin-top:5px">
                                                        <a onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ViewCourseAssignment","CourseAssignment")">
                                                            <span class="text" style="color: rgb(72, 1, 219); font-size:18px"> <i class="fa-solid fa-file-arrow-up" style="font-size: 20px;"> </i> @assignment.AssignmentName</span>
                                                        </a>


                                                    <hr/>
                                                </div>
                                               
                                            }
                                        }
                                    }
                                }
                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between" style="display: flex; flex-direction: row;">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-tag icon" style="margin-right:10px;"></i>Contenido:</h4>
                                </div>


                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    
                                    <a class="btn btn--rUpdate" title="Editar Contenido" style="margin-right: 10px; height: 53px; width: 7%;" href="@Url.Action("UpdateContentPerWeek","ContentPerWeek", new { q = item.ContentPerWeekId })">
                                        <i class="fas fa-edit" style="color: #ffffff;font-size:38px"></i> 
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-start" style="flex-direction:column ;align-items:start; padding-left:50px">
                                <h5 class="mb-1">@item.Content</h5>
                               
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-sticky-note icon" style="margin-right:10px;"></i>Material Educativo:</h4>
                                </div>

                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                  
                                    <a class="btn btn--rAdd" title="Agregar  Material" style="margin-right: 10px; height: 54px; width: 7%;" onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterMaterial","CourseMaterial")">
                                        <i class="fas fa-circle-plus" style="color: #ffffff; font-size:40px;" ></i> <!-- Icono para cambiar estado -->
                                    </a>
                                }
                            </div>
                            <div class="d-flex w-100 justify-content-end" style="flex-direction: column; padding-left: 5%;">
                                @if (Model.WeekMaterial.Count() <= 0)
                                {
                                    <div style="text-align:start;">
                                        <h5 class="mb-1">No hay material disponible.</h5>
                                    </div>
                                }
                                else
                                {
                                    foreach (var material in Model.WeekMaterial)
                                    {
                                        if (material.WeekId == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div style="text-align: left; display: flex; flex-direction: row; margin-bottom: 10px;">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: rgb(72, 1, 219); font-size:18px"> <i class="fa-solid fa-file-arrow-down" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>

                                                    <a href="@Url.Action("DeleteMaterial","CourseMaterial", new { q = material.MaterialId })" style="color: red; margin-left: 10px; display: flex; align-items: center;" onclick="return confirmDelete();">
                                                        <i class="fa-solid fa-trash" style="font-size: 20px; padding-left:17px"></i>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="text-align: left; margin-bottom: 10px; font-size:13px">
                                                    <a href="@Url.Action("DownloadMaterial","CourseMaterial", new { q = material.MaterialId })">
                                                        <span class="text" style="color: rgb(72, 1, 219); font-size:20px;"> <i class="fa-solid fa-file-arrow-down" style="font-size: 20px;"> </i> Descargar @material.MaterialName</span>
                                                    </a>
                                                    <hr />
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="title-little">
                                    <h4 class="title-text" style="font-weight:bold;"><i class="fas fa-tasks icon" style="margin-right:10px;"></i>Entregables:</h4>
                                </div>

                                @if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                {
                                    <div style="text-align:left; margin-top:5px">
                                       
                                        <a class="btn btn--rAdd" title="Agregar Entregable" style="margin-right: 10px; height: 54px; width: 100%;"  onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', 0)" href="@Url.Action("RegisterAssignment","CourseAssignment")">
                                            <i class="fas fa-circle-plus" style="color: #ffffff; font-size:40px;" title="Agregar Entregable"></i> <!-- Icono para cambiar estado -->
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="d-flex w-100  justify-content-start " style="flex-direction: column; text-align: start; padding-left:5%">


                                @if (Model.CourseAssignments.Count() <= 0)
                                {
                                    <div style="text-align:start;">
                                        <h5 class="mb-1">No hay Tareas pendientes.</h5>
                                    </div>
                                }
                                else
                                {
                                    foreach (var assignment in Model.CourseAssignments)
                                    {
                                        if (assignment.AssignmentWeek == item.WeekId)
                                        {
                                            if ((int)Session["UserType"] == 2 || (int)Session["UserType"] == 1)
                                            {
                                                <div class="title-little-send">
                                                    <p class="title-text2" style="font-weight:bold;"><i class="fa fa-bars-progress" style="margin-right:10px;"></i>@assignment.AssignmentName</p>
                                                </div>
                                                <h5 class="mb-1" style="padding-block-end:13px">Indicaciones: @assignment.AssignmentDescription</h5>

                                                if (assignment.AssignmentActive == true)
                                                {
                                                    <p class="mb-1 active-state">Estado: Habilitada</p>
                                                    <br />
                                                }
                                                else
                                                {
                                                    <p class="mb-1 inactive-state">Estado: Deshabilitada</p>
                                                    <br />
                                                }

                                                <div style="text-align: left; display: flex; flex-direction: row;">
                                                    <a class="btn btn--rUpdate" style="margin-right: 10px; height: 40px; width:10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("UpdateAssignment","CourseAssignment")">
                                                        <i class="fas fa-edit" style="color: #ffffff;" title="Editar Entregable"></i> <!-- Icono para editar -->
                                                    </a>

                                                    <a class="btn btn--rAvailable" style="margin-right: 10px; height: 40px; width: 10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ChangeStatusAssignment","CourseAssignment")">
                                                        <i class="fas fa-exchange-alt" style="color: #ffffff;" title="Cambiar Estado"></i> <!-- Icono para cambiar estado -->
                                                    </a>

                                                    <a class="btn btn--rReport" style="margin-right: 10px; height: 40px; width: 10%;" onclick="updateSessionWeek('@item.WeekNum', '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("DeliveredCoursetasks","CourseTasks")">
                                                        <i class="fas fa-list-alt" style="color: #ffffff;" title="Ver Entregas"></i> <!-- Icono para ver entregas -->
                                                    </a>

                                                </div>
                                                <hr />

                                            }
                                            else if ((int)Session["UserType"] == 3 && assignment.AssignmentActive == true)
                                            {
                                                <div style="text-align:left; margin-top:5px">
                                                    <a  onclick="updateSessionWeek(@item.WeekNum, '@item.WeekId', '@assignment.AssignmentId')" href="@Url.Action("ViewCourseAssignment","CourseAssignment")">
                                                        <span class="text" style="color: rgb(72, 1, 219); font-size:18px"> <i class="fa-solid fa-file-arrow-up" style="font-size: 20px;"> </i> @assignment.AssignmentName</span>
                                                    </a>

                                                </div>
                                               
                                                
                                                <hr />

                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

<script>

    function confirmDelete() {
        // Mostrar una alerta para confirmar si desea eliminar el material
        if (confirm('¿Estás seguro de que quieres eliminar este material?')) {
            // Si el usuario confirma, se redirige a la acción de eliminación
            return true;
        } else {
            // Si el usuario cancela, se cancela la acción de eliminación
            return false;
        }
    }


  function handleWeekClick(event, weekNum, weekId, assignmentId) {
        event.preventDefault();

        // Eliminar la clase 'active' de todos los enlaces
        var navbarItems = document.querySelectorAll('.navbar-brand.choicebtn');
        navbarItems.forEach(function(item) {
            item.classList.remove('active');
        });

        // Agregar la clase 'active' al enlace seleccionado
        event.target.classList.add('active');

        // Actualizar la semana en el backend
        updateSessionWeek(weekNum, weekId, assignmentId);
    }

    function updateSessionWeek(weekNum, weekId, assignmentId) {
        fetch('@Url.Action("UpdateSessionWeek", "Enrolled")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                weekNum: weekNum,
                weekId: weekId,
                assignmentId: assignmentId
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });
        return false;
    }
    // Función para recargar la página
    function reloadPage() {
        location.reload();
    }

    var reloadButtons = document.getElementsByClassName('choicebtn');
    for (var i = 0; i < reloadButtons.length; i++) {
        reloadButtons[i].addEventListener('click', reloadPage);
    }
</script>
















